apiVersion: networking.istio.io/v1alpha3
kind: EnvoyFilter
metadata:
  name: header-to-metadata-filter
  namespace: {{ .namespace | default "default" }}
spec:
  priority: 1 # This filter should be placed before ext_authz filter to populate metadata
  configPatches:
    - applyTo: HTTP_FILTER
      match:
        context: SIDECAR_INBOUND
        listener:
          filterChain:
            filter:
              name: envoy.filters.network.http_connection_manager
              subFilter:
                name: envoy.filters.http.router
      patch:
        operation: INSERT_BEFORE
        value:
          name: envoy.filters.http.header-to-metadata.{{ .nameSuffix }}
          typedConfig:
            '@type': type.googleapis.com/envoy.extensions.filters.http.header_to_metadata.v3.Config
            request_rules:
              - header: {{ .headerName }}
                on_header_present:
                  metadata_namespace: envoy.filters.http.header-to-metadata.{{ .nameSuffix }}
                  key: {{ .headerKey }}
                  type: {{ .headerDatatype }}
  workloadSelector:
    labels:
      {{ .label }}
