apiVersion: mesh.cloud.google.com/v1alpha1
kind: DataPlaneControl
metadata:
  name: test-mdp
spec:
  proxyVersion: {{ .NewProxyVersion }}
  proxyTargetBasisPoints: {{ default 10000 .NewProxyTargetBasisPoints }}
  revision: "asm-master"
